<div class="green page-content">
  <h3>Lobby</h3>

  <br/><br/>

  <% if @games.count.zero? %>
    <h4>Nobody is hosting at this time</h4>
  <% else %>
    <% @games.each do |game| %>
      <% if game.open %>
        <h4>
          <%= link_to "Hosted by #{game.user.username}. Click to join.", game_path(game), class: "green" %>
          <br/>
        </h4>
      <% else %>
        <h4 class="green">Nobody is hosting at this time</h4>
      <% end %>
    <% end %>
  <% end %>

</div>
