<div class="green page-content col-8">
  <h1>Hello and welcome to my chess app!</h1>
  <br/>
  <h3>
    Here I want to provide a tour of this app and give a bird's eye
    view of how it works along with some of my thoughts.
  </h3>
  <br/><br/>
  <h2>Overview</h2>
  <br/>
  <h4>
    This is a rails 6 app that uses devise for user functionality.
    Users can start games and choose which color that they want to
    play as, or they can join games in the lobby that are being
    hosted by other users. The rules of chess are enforced on the
    back end. The game is turn based, pieces can't jump over
    eachother except for knights and a victor can be declared.
    A real time chat box is included below the board.
  </h4>
  <br/><br/>
  <h2>Back end</h2>
  <br/>
  <h4>
    Games belong to users. Pieces and comments belong to games.
    Games contain functionality for things like creating the pieces
    with their starting positions and determining the victor.
    Pieces contain logic for things like how a piece is
    allowed to move given what type of piece that it is, whether or
    not another piece is in the way and if a proposed capture is
    friendly/illegal.
  </h4>
</div>
