<div class="page-content">
  <h3>
    <%= link_to "End match",
      game_path(@game),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-primary"
    %>
  </h3>
</div>

<br/><br/><br/><br/>

<%= react_component("Game", {
  game: @game,
  pieces: @game.pieces,
  root_url: root_url,
  current_user: current_user,
  comments: @comments
}) %>

<br/><br/><br/><br/>
