@import "bootstrap/scss/bootstrap";

body {
  background-color: #0a0f18;
}

.header-color {
  background-color:  #101825;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftward-header-elements {
  margin-left: 15px;
}

.link:hover {
  color: rgb(14, 73, 168);
}

.green {
  color: #00C122;
}
